.App {
  background-color: #282c34;
}

.root {
  background-color: #282c34;
  font-family: 'Acme'
}

.App-h1 {
  color: #fFCc00;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-postocde {
  width: 60%;
  margin-left: 20%;
  margin-top: 5px;
}

.App-map-box {
  width: 90%;
  margin-left: 5%;
  margin-top: 5px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #61dafb;
}

.parking-result {
  width: 90%;
  margin-left: 5%;
  display: block;
  background-color: slategrey;
  padding: 5px 3px 5px 3px;
  margin-top: 5px;
  border: 1px solid black;
  padding: 10px;
  display: inline-block;
}
 .selected{
  background-color: #fFCc00;
  color: #282c34
}

.hidden {
  position:fixed;
  opacity:0
}

h3 {
  margin-top: 0;
  margin-bottom: 0;
}

p {
  margin-bottom: 0;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
